/* FONTES */

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: url("../fonts/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url("../fonts/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("../fonts/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url("../fonts/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");;
}

/* ESTILOS GERAL */

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

h1.titulo,
h1.titulo-mobile {
  color: #710000;
  font-size: 3.214em;
  font-weight: 700;
  text-transform: uppercase;
}

h1.titulo::after,
h1.titulo-mobile::after {
  content: '';
  display: table;
  width: 200px;
  height: 5px;
  background: #710000;
}

h3, h4 {
  color: #710000;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-adv {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin: 0 auto;
  padding: 15px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease; 
}

.btn-adv:hover {
  border-color: #2A2A2A;
  color: #2A2A2A;
  transition: all 0.3s ease; 
}

.intro {
  color: #7B7A7F;
  font-size: 1.358em;
  font-weight: 300;
  margin: 50px 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  main.pagina-inicial h2 {
    font-size: 2.5em !important;
  }

  main.pagina-inicial .btn-adv {
    font-size: 1.5em;
  }

  h1.titulo,
  h1.titulo-mobile {
    font-size: 2.2em;
  }

  h1.titulo::after,
  h1.titulo-mobile {
    width: 100px;
  }
}

/* BARRA DE NAVEGAÇÃO */

nav {
  background: #710000;
  color: #fff;
}

.nav>li>a,
.nav>li>a:hover {
  background: none;
  color: #fff;
  font-size: 1.5em;
}

nav.navbar-fixed-top {
  background: transparent;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand img {
  height: 180px;
  margin-top: -110px;
}

.top-menu {
  font-size: 1.2em;;
  padding: 10px 0;
  text-align: right;
}

.top-menu p {
  padding: 0 15px;
}

.top-menu a {
  color: #fff;
  vertical-align: -webkit-baseline-middle;
}

.top-menu a .zmdi {
  font-size: 1.5em;
}

.tel,
.instagram,
.facebook {
  margin-right: 25px;
}

.pipe {
  cursor: pointer;
  margin: 0 25px;
}  

nav .navbar-collapse {
  text-transform: uppercase;
}

.icon-bar {
  background: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: inherit;
}

@media only screen and (max-width: 1199px) {
  .navbar-brand img {
    height: 150px;
    margin-top: -100px;
    margin-left: -30px;
  }
}

@media only screen and (max-width: 991px) {
  .nav>li>a,
  .nav>li>a:hover {
    font-size: 1em;
  }

  .navbar-brand img {
    height: 145px;
    margin-top: -95 px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-brand img {
    height: 200px;
    margin-top: -160px;
  }
  
  .pipe {
    display: none;
  }
  
  .tel,
  .email {
    display: block;
    margin-bottom: 10px; 
    margin-right: 0;
  }
  
  .zmdi.zmdi-instagram,
  .zmdi.zmdi-facebook {
    font-size: 1.8em !important;
  }
}

@media only screen and (max-width: 470px) {
  .navbar-brand img {
    height: 150px;
    margin-top: -140px;
  }
}

@media only screen and (max-width: 415px) {
  .top-menu {
    display: none;
  }

  .navbar-brand img {
    height: 80px;
    margin-top: -30px;
  }
}


/* PAGINA INICIAL */

main.pagina-inicial {
  background: linear-gradient( rgba(113, 0, 0, 0.5), rgba(113, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1453945619913-79ec89a82c51?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0b7a043b4a4d259543a830e670a3f54c&auto=format&fit=crop&w=1950&q=80') no-repeat center;
  background-size: cover;  
  height: 1000px;
  min-height: 100vh;
}

main.pagina-inicial h2 {
  color: #fff;
  font-size: 3.571em;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 8em;
  text-shadow: 3px 3px 8px #666;
  text-transform: uppercase;
}

/* SOBRE NÓS */

.sobre-nos {
  background: #F1F1F1;
  padding-top: 40px;
  width: 100%;
}

.profile {
  padding-top: 0 !important;
}

.sobre-nos .titulo-mobile {
  display: none;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  grid-template-rows: 100%;
}

.sobre-nos h1 {
  margin-bottom: 30px;
}

.advogada-foto img {
  max-width: 100%;
}

.advogada-bio {
  justify-self: start;
  padding: 40px 15px;
  padding-bottom: 0px;
}

.missao p,
.advogada-bio p {
  font-size: 1.358em;
  font-weight: 300;
}

.profile-container .btn-adv,
.sobre-nos-container .btn-adv {
  border-color: #2A2A2A;
  color: #2A2A2A;
  margin-right: 30px;
}

.profile-container .container,
.sobre-nos-container .container {
  margin-left: 0;
  padding-left: 0;
}

.missao {
  background: #f1f1f1;
  padding: 20px 0;
}

.missao h1 {
  margin-bottom: 30px;
}

.advogada-texto {
  margin-top: 40px;
  margin-bottom: 30px;
}

.curriculo {
  text-decoration: none !important;
}

@media only screen and (max-width: 1655px) {
  .curriculo {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .curriculo {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 1350px) {
  .profile-container,
  .sobre-nos-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1265px) {
  .profile-container,
  .sobre-nos-container {
    grid-template-columns: 1fr;
    grid-template-rows: 100% 100%;
    margin-right:auto;
    margin-left:auto;
    padding-top: 40px;
    padding-right:15px;
    padding-left:15px;
    width:1170px;
  }

  .sobre-nos-container {
    padding-top: 0;
  }

  .advogada-bio .titulo {
    display: none;
  }

  .sobre-nos .titulo-mobile {
    display: block;
    margin-bottom: 30px;
  }

  .sobre-nos .container .btn-adv {
    border-color: #2A2A2A;
    color: #2A2A2A;
  }

  .advogada-foto img {
    display: block;
    margin: 0 auto;
  }

  .advogada-bio {
    max-width: 100%;
  }
}

@media (max-width: 1199px) {
  .profile-container,
  .sobre-nos-container {
    width:970px;
  }
}

@media (max-width: 991px){
  .profile-container,
  .sobre-nos-container {
    width:750px;
  }
}

@media (max-width: 767px) {
  .profile-container,
  .sobre-nos-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

@media (max-width: 680px) {
  .advogada-bio .btn-adv {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    width: 50%;
  }
}

@media (max-width: 450px) {
  .advogada-bio .btn-adv {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
    width: 70%;
  }
}

/* AREAS DE ATUAÇÃO */

.atuacao {
  background: #F0EFF0;
  padding: 40px 0;
}

.atuacao .cards [class^="col-"] {
  padding: 0 7px;
}

.atuacao .cards {
  margin: 0 auto;
}

.atuacao .atuacao-card {
  background: #E8DEDF;
  margin-bottom: 30px;
  min-height: 70px;
  padding: 10px 5px;
  text-align: center;
}

.atuacao-card .img-destaque {
  margin-right: 20px;
  max-height: 70px;
}

.atuacao-card img {
  max-height: 50px;
}

.atuacao h4 {
  font-size: 16px;
}

.atuacao h3::after,
.atuacao h4::after {
  background: #710000;
  content: '';
  display: table;
  height: 5px;
  margin: 5px auto;
  width: 30%;
}

.atuacao h3::after {
  width: 70%;
}

@media only screen and (min-width: 992px) {
  .atuacao .atuacao-card {
    box-shadow: 5px 5px 10px 0px #dbdbdb;
    min-height: 180px;
  }
}

/* NOTÍCIAS */

.noticias {
  background: #F0EFF0;
  padding: 40px 0;
}

.destaque .noticia img {
  border: 1px solid #000;
  max-height: 200px;
  width: 100%;
}

.destaque .noticia h3 {
  font-size: 2.15em;
  font-weight: 400; 
  margin-top: 0;
}

.lateral .noticia img, 
.outras-noticias .noticia img {
  border: 1px solid #000;
  float: left;
  max-width: 40%;
}

.lateral .noticia h3 {
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-top: 0;
  max-width: 50%;
}

.noticia .tag {
  background: #E2D6D6;
  box-shadow: 5px 5px 10px 0px #dbdbdb;
  display: inline-block;
  font-size: 2.15em;
  font-style: italic;
  font-weight: 400;
  margin: 40px 0 20px;
  padding: 10px;
  width: 80%;
}

.lateral .noticia .tag {
  font-size: 1.3em;
  margin-top: 0;
  margin-left: 16px;
  width: 50%;
}

@media only screen and (max-width: 991px) {
  .lateral .noticia h3,
  .destaque .noticia h3 {
    margin-bottom: 50px;
  }

  .lateral .noticia img, .outras-noticias .noticia img {
    max-width: 100%;
  }

  .lateral .noticia h3 {
    display: block;
    font-size: 2.5em;
    margin: 20px 0 50px;
    max-width: 100%;
  }

  .lateral .noticia .tag {
    display: inline-block;
    font-size: 2em;
    margin: 40px 0 20px;
    padding: 10px;
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .lateral .noticia h3,
  .destaque .noticia h3 {
    font-size: 2em;
    margin-bottom: 100px;
    margin-top: 10px;
  }

  .lateral .noticia .tag,
  .destaque .noticia .tag {
    font-size: 1.5em;
    margin: 20px 0 10px;
    width: 100%;
  }
}

/* DEPOIMENTOS */

.depoimentos {
  background: linear-gradient( rgba(113, 0, 0, 0.5), rgba(113, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1453945619913-79ec89a82c51?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0b7a043b4a4d259543a830e670a3f54c&auto=format&fit=crop&w=1950&q=80') no-repeat center;
  background-size: cover;
  height: 800px;
  padding: 40px 0; 
}

.depoimentos h1.titulo {
  color: #fff;
}
  
.depoimentos h1.titulo::after {
  background: #fff;
}

.depoimentos-carrossel {
  margin-top: 10em;
  padding: 5em 0;
}

.depoimentos-carrossel img {
  border: 2px solid #fff;
  border-radius: 50%;
  display: block;
  height: 200px;
  margin: 0 auto 40px;
  width: 200px;
}

.depoimentos-carrossel h2,
.depoimentos-carrossel p {
  color: #fff;
  font-size: 2em;
  text-align: center;
}

@media only screen and (max-width: 767px) {
   .depoimentos-carrossel h2,
   .depoimentos-carrossel p {
    font-size: 22px;
  }
}

/* CONTATO */

.contato {
  background: #F0EFF0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.contato p.intro {
  text-align: left;
  width: 90%;
}

.form {
  grid-area: 1/1/2/2;
  justify-self: end;
  padding: 40px 0 40px 15px;
  max-width: 585px;
}

.form-contato input:not([type="checkbox"]) {
  font-size: 2em;
  height: 50px;
  margin-bottom: 30px;
}

.form-contato input[type="text"],
.form-contato input[type="email"],
.form-contato textarea {
  background: #e6dcdd;
  color: #7c7c80;
  border: none;
  box-shadow: 5px 5px 10px 0px #dbdbdb;
  padding: 5px 10px;
}

.form-contato textarea {
  font-size: 2em;
  padding: 10px;
  resize: none;
}

.form-contato input[name="nome"],
.form-contato input[name="email"] {
  width: 43%;
}

.form-contato input[name="nome"] {
  margin-right: 3%;
}


.form-contato input[name="telefone"],
.form-contato textarea {
  width: 90%;
}

.form-contato .btn-adv {
  background: transparent;
  border-color: #7c7c80;
  color: #7c7c80;
  margin: 30px 0;
}

.informativo {
  color: #7c7c80;
  display: block;
  font-size: 1.3em;
  font-weight: 100;
  margin-top: 30px;
}

.informativo input {
  margin-right: 15px;
}

.mapa {
  background: url("http://www.universomarketing.com.br/wp-content/uploads/2017/12/como-adicionar-local-no-google-maps-5.jpg") no-repeat center;
  background-size: cover;
}

/* PÁGINA DA NOTÍCIA */

.posts {
  padding-top: 40px;
  padding-bottom: 40px;
}

.posts p {
  font-size: 1.358em;
  font-weight: 300;
}

.titulo-post {
  color: #710000;
  font-size: 3.214em;
  padding-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  .contato {
    grid-template-columns: 1fr;
    grid-template-rows: 100% 100%;
  }
  
  .contato p.intro {
    text-align: center;
  }
  
  .form {
    grid-area: 1/1/2/2;
    justify-self: center;
    padding-right: 15px;
  }

  .form-contato input[name="nome"],
  .form-contato input[name="email"] {
    width: 48%;
  }

  .form-contato input[name="nome"] {
    margin-right: 3%;
  }


  .form-contato input[name="telefone"],
  .form-contato textarea {
    width: 100%;
  }
}

/* FOOTER */

footer {
  background: #2A2A2A;
  color: #fff;
  font-size: 1.3em;
  font-weight: 100;
  padding: 2em 0;
}

footer p.adv {
  margin-bottom: 1em;
}

footer p.adv::after {
  content: '';
  display: table;
  width: 353px;
  height: 1px;
  background: #fff;
}

footer p {
  font-size: 1em;
  margin-bottom: 0.2em;
}

footer img {
  height: 300px;
  margin-top: -60px;
  margin-left: -100px;
}

.copyright {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  footer img {
    display: block;
    margin: 0 auto;
  }

  footer .endereco p:last-child {
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 500px) {
  footer p,
  .copyright {
    font-size: 0.85em;
  }

  footer p.adv::after {
    width: 300px;
  }
}
